<header class="site-header">
  <div class="container">
    <nav class="nav">
      <a href="./index.html" class="site-logo link">
        Web<span class="site-logo-blue">Studio</span>
      </a>
      <ul class="nav-list list">
        <li><a href="./index.html" class="link active">Studio</a></li>
        <li><a href="" class="link">Portfolio</a></li>
        <li><a href="" class="link">Contacts</a></li>
      </ul>
    </nav>
    <address class="address">
      <ul class="nav-list list">
        <li>
          <a href="mailto:info@devstudio.com" class="contacts link">info@devstudio.com</a>
        </li>
        <li><a href="tel:+110001111111" class="contacts link">+11 (000) 111-11-11</a></li>
      </ul>
    </address>
    <button type="button" class="menu-button" aria-label="Mobile menu switch" data-menu-button>
      <svg width="24" height="24" class="icon-menu">
        <use href="./images/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
