<section class="section-portfolio">
  <div class="container">
    <h2 class="section-title">Our Portfolio</h2>
    <ul class="section-list list">
      <li class="section-list-item">
        <div class="card-image-container">
          <img class="image" src="./images/portfolio-1.jpg" alt="Banking App photo" width="360" />
          <p class="card-image-text">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker
            App · Exotic Fruit Ecommerce App · Cloud Storage App
          </p>
        </div>
        <div class="card-info">
          <h3 class="card-title">Banking App</h3>
          <p class="card-text">App</p>
        </div>
      </li>
      <li class="section-list-item">
        <div class="card-image-container">
          <img
            class="image"
            src="./images/portfolio-2.jpg"
            alt="Cashless Payment photo"
            width="360"
          />
          <p class="card-image-text">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker
            App · Exotic Fruit Ecommerce App · Cloud Storage App
          </p>
        </div>
        <div class="card-info">
          <h3 class="card-title">Cashless Payment</h3>
          <p class="card-text">Marketing</p>
        </div>
      </li>
      <li class="section-list-item">
        <div class="card-image-container">
          <img
            class="image"
            src="./images/portfolio-3.jpg"
            alt="Meditation App photo"
            width="360"
          />
          <p class="card-image-text">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker
            App · Exotic Fruit Ecommerce App · Cloud Storage App
          </p>
        </div>
        <div class="card-info">
          <h3 class="card-title">Meditation App</h3>
          <p class="card-text">App</p>
        </div>
      </li>
      <li class="section-list-item">
        <div class="card-image-container">
          <img class="image" src="./images/portfolio-4.jpg" alt="Taxi Service photo" width="360" />
          <p class="card-image-text">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker
            App · Exotic Fruit Ecommerce App · Cloud Storage App
          </p>
        </div>
        <div class="card-info">
          <h3 class="card-title">Taxi Service</h3>
          <p class="card-text">Marketing</p>
        </div>
      </li>
      <li class="section-list-item">
        <div class="card-image-container">
          <img
            class="image"
            src="./images/portfolio-5.jpg"
            alt="Screen Illustrations photo"
            width="360"
          />
          <p class="card-image-text">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker
            App · Exotic Fruit Ecommerce App · Cloud Storage App
          </p>
        </div>
        <div class="card-info">
          <h3 class="card-title">Screen Illustrations</h3>
          <p class="card-text">Design</p>
        </div>
      </li>
      <li class="section-list-item">
        <div class="card-image-container">
          <img
            class="image"
            src="./images/portfolio-6.jpg"
            alt="Online Courses photo"
            width="360"
          />
          <p class="card-image-text">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker
            App · Exotic Fruit Ecommerce App · Cloud Storage App
          </p>
        </div>
        <div class="card-info">
          <h3 class="card-title">Online Courses</h3>
          <p class="card-text">Marketing</p>
        </div>
      </li>
    </ul>
  </div>
</section>
