:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2e2f42;
  --main-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --light-text-color: #ffffff;
  --grey-text-color: #8e8f99;
  --accent: #4d5ae5;
  --accent-pressed-state: #404bbf;
  --secondary-white-color: #f4f4fd;
}
html {
  scroll-behavior: smooth;
}
* {
  -webkit-tap-highlight-color: transparent;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0) inset !important;
}
img {
  width: 100%;
  display: block;
}
button[type='submit'],
input[type='submit'] {
  appearance: none;
  -webkit-appearance: none;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  background-color: var(--primary-bg-color);
}

.hide {
  display: none;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.white-text {
  color: var(--secondary-white-color);
}

.list {
  list-style: none;
}

.card-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-text-color);
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
}
